<div class="container">
    <div class="img2">
        <a [href]="karticka.link">
            <img [src]="karticka.iconURL" width="320" height="240">
        </a>
    </div> 
    <div class="text">
        {{karticka.text}}
        <a [href]="karticka.link1">{{karticka.song1}}</a>, 
        <a [href]="karticka.link2">{{karticka.song2}}</a>,
        <a [href]="karticka.link3">{{karticka.song3}}</a>, 
        <a [href]="karticka.link4">{{karticka.song4}}</a>, 
        <a [href]="karticka.link5">{{karticka.song5}}</a>, 
        <a [href]="karticka.link6">{{karticka.song6}}</a>, 
        <a [href]="karticka.link7">{{karticka.song7}}</a>
        {{karticka.rest_of_text}} 
    </div>
</div>
