<div class="container">
    <div class="img2">
        <a href="https://www.youtube.com/watch?v=Sb5aq5HcS1A">
            <img [src]="karticka3.iconURL" width="320" height="240">
        </a>
    </div> 
    <div class="text">
        {{karticka3.text}}
        <a href="https://www.youtube.com/watch?v=Sb5aq5HcS1A">{{karticka3.song1}}</a>{{karticka3.text2}} 
        <a href="https://www.youtube.com/watch?v=JnfyjwChuNU">{{karticka3.song2}}</a>{{karticka3.text3}} 
        <a href="https://www.youtube.com/watch?v=0fcRa5Z6LmU">{{karticka3.song3}}</a>
        <a href="https://www.youtube.com/watch?v=Mr_uHJPUlO8">{{karticka3.song4}}</a>{{karticka3.text4}}
    </div>
</div>