<div class="container">
    <div class="img2">
        <a href="https://www.youtube.com/watch?v=UmFFTkjs-O0">
            <img [src]="karticka4.iconURL" width="320" height="240">
        </a>
    </div> 
    <div class="text">
        {{karticka4.text}}
        <a href="https://www.youtube.com/watch?v=n3nPiBai66M">{{karticka4.song1}}</a>
        <a href="https://www.youtube.com/watch?v=9GkVhgIeGJQ">{{karticka4.song2}}</a>, 
        <a href="https://www.youtube.com/watch?v=mGgMZpGYiy8">{{karticka4.song3}}</a>{{karticka4.text2}}
        <a href="https://www.youtube.com/watch?v=UmFFTkjs-O0">{{karticka4.song4}}</a>{{karticka4.text3}} 
        <a href="https://www.youtube.com/watch?v=xik-y0xlpZ0">{{karticka4.song5}}</a>{{karticka4.text4}}
        <a href="https://www.youtube.com/watch?v=ijxk-fgcg7c">{{karticka4.song6}}</a>{{karticka4.text5}}
    </div>
</div>