<div class="container">
    <div class="img2">
        <a [href]="karticka6.link">
            <img [src]="karticka6.iconURL" width="320" height="240">
        </a>
    </div> 
    <div class="text">
        {{karticka6.text}}
        <a [href]="karticka6.link1">{{karticka6.song1}}</a>
        <a [href]="karticka6.link2">{{karticka6.song2}}</a>
        <a [href]="karticka6.link3">{{karticka6.song3}}</a>
        <a [href]="karticka6.link4">{{karticka6.song4}}</a>{{karticka6.text2}}
        <a [href]="karticka6.link5">{{karticka6.song5}}</a>{{karticka6.text3}}
    </div>
</div>