<div class="navbar">
  <a class="no_italic" href="proektna_zadaca_2_strana_1.html">Home</a>
  <a class="no_italic" href="proektna_zadaca_2_strana_2.html">Favourite things</a>
  <a class="no_italic" href="proektna_zadaca_2_strana_3.html">Gallery</a>
  <a class="no_italic" href="proektna_zadaca_2_strana_4.html">Blog</a>
  <a class="no_italic" href="proektna_zadaca_2_strana_5.html">Form</a>
  <a class="no_italic" href="proektna_zadaca_2_strana_6.html">Contact</a>
</div> 
<fieldset>
  <legend>Music</legend>
  <app-card [karticka]="prva_muzika"></app-card>
  <app-card [karticka]="vtora_muzika"></app-card>
  <app-card3 [karticka3]="treta_muzika"></app-card3>
  <app-card4 [karticka4]="muzika4"></app-card4>
  <app-card5 [karticka5]="muzika5"></app-card5>
  <app-card6 [karticka6]="muzika6"></app-card6>
  <app-card6 [karticka6]="muzika7"></app-card6>
</fieldset>
<fieldset>
  <legend>Movies and TV shows</legend>
  <app-card2 [karticka2]="card_film_sport"></app-card2>
  <app-card2 [karticka2]="card_film_sport2"></app-card2>
  <app-card2 [karticka2]="card_film_sport3"></app-card2>
  <app-card2 [karticka2]="card_film_sport4"></app-card2>
  <app-card2 [karticka2]="card_film_sport5"></app-card2>
</fieldset>
<fieldset>
  <legend>Sport</legend>
  <app-card2 [karticka2]="card_film_sport6"></app-card2>
  <app-card2 [karticka2]="card_film_sport7"></app-card2>
  <app-card2 [karticka2]="card_film_sport8"></app-card2>
</fieldset>